node_modules/
.env
.env.local
.env.*.local
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
.vscode/
dist/
build/
database/Install/bin/*.pdb
yarn.lock
tmp/
temp/
coverage/
*.pid
*.seed
*.pid.lock
ehthumbs.db
Desktop.ini